*{
	margin:0;
	box-sizing: border-box;
}

body{
	background-color: #eee;
	color: #000;
	font-family: "Ubuntu",sans-serif;
	line-height: 1.5;
}

#navbar {
  position: fixed;
  min-width: 10em;
  top: 0px;
  left: 0px;
  width: 15em;
  height: 100%;
  padding: 0.4rem;
  background-color: #333;
}

header {
  color: #3260a5;
  margin: 0.7rem;
  text-align: center;
  font-size: 1.4rem;
}

.nav-header{
	color: #50d2b4;
  font-size: 1.25rem;
}


#main-doc header {
  text-align: left;
  margin: 0;
}



#navbar ul {
  height: 90%;
  padding: 0;
}

#navbar ul li {
  color: #333;
  list-style-type: none;
  width: 100%;
}

#navbar ul li:hover{
  	transition: 0.2s;
  	border: 1px solid #fff;
  	border-radius: 2px;
  }

#navbar ul li a {
  display: block;
  padding: 0.3rem 0.5rem;
  color: #fff;
  text-decoration: none;
}

#navbar ul li a:hover{
	transition: 0.2s;
	color: #f99fc0;
}

strong{
	color: #5858ca;
}

span{
	color: #dc7226;
}

.sp1{
	color: #ea7c7c;
}

.sp2{
	color: #ecc75c;
}

.sp3{
	color: #5cd1ec;
}

.sp4{
	color: #8eeaef;
}

.sp5{
	color: #dc7226;
}

.sp6{
	color: #ffb4fd;
}


h3{
	padding: 2rem 0 0.7rem 0;
}


#main-doc {
  margin-left: 16em;
  padding: 1.2rem;
  margin-bottom: 2rem;
}

section article {
  color: #4d4e53;
  margin: 1.25rem;
  font-size: 0.96em;
}

section li {
  margin: 0.9rem 0 0.9rem 0;
}


code {
  display: block;
  text-align: left;
  white-space: pre-line;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #333;
  color: #ffe2ab;
  padding: 0.7rem;
  margin: 0.9rem;
  border-radius: 5px;
}

.output1{
	color: #8beab1;
}




#Reference ul{
	padding: 0;
}

#Reference ul li{
	margin: 0.9rem;
	padding: 0;
}

#Reference ul li a{
	color: #5c4abf;
}

#Reference ul li a:hover{
	color: #e45e8a;
}


@media only screen and (max-width: 720px) {
  #navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 15em;
    border-bottom: 2px solid #f9bf50;
    overflow-y: auto;
  }

  #navbar ul {
    height: 100%;
  }

  #navbar ul li:hover{
  	transition: 0.2s;
  	border: 1px solid white;
  	border-radius: 2px;
  }

  #main-doc {
    margin-left: 0px;
    margin-top: 16em;
  }
}
